body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  color: #52002a;
  margin: 16px 0 0 28px;
}

header.container-menu {
  background-color: #68dfd9;
  grid-area: menu;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
}

header.container-menu a {
  color: black;
}
header.container-menu a:hover {
  color: white;
  transform: scale(1.2);
}

header.container-menu li:hover {
  color: #52002a;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: floralwhite;
}

.logo img {
  width: 34px;
  height: 34px;
}

main.main-container {
  grid-area: main-container;
  display: flex;
  flex-direction: column;
  border-bottom: gray;
}

nav.form {
  background-color: rgba(128, 128, 128, 0.584);
  grid-area: form;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main.main-container .product-container {
  display: flex;
  flex-wrap: wrap;
  margin: 28px;
  justify-content: space-around;
}

.section-container {
  background-color: #ffffff;
}

main.main-container .product-container.section-container-featured {
  overflow: hidden;
  background-color: rgb(214, 214, 214);
  border-radius: 12px;
}

main.main-container .product-container.section-container-featured .scroller {
  display: flex;
  flex-wrap: nowrap;
  animation: featured-carousel 20s infinite;
  transition: all 0.5s linear;
  animation-delay: 5s;
}

main.main-container .product-container .column {
  width: 100%;
  min-width: 100%;
}

main.main-container .catalog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.12);
  margin: 20px;
  transition: filter 0.3s linear;
  transition: transform 0.3s ease-in, box-shadow 0.3s ease-in;
  background-color: white;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
}

main.main-container .catalog-container:hover {
  filter: grayscale(1);
  transform: scale(1.05);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.12);
}

main.main-container .catalog-container .product-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center center;
}

main.main-container .catalog-container button {
  margin-bottom: 16px;
  background-color: #df68b8;
  color: #ffffff;
  border: none;
  padding: 6px;
}
main.main-container .paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
}

main.main-container .paginator li:hover {
  transform: scale(110%);
}

main.main-container .paginator ul {
  background-color: #52002a;
  display: flex;
  margin: 0;
  padding: 0;
  border-radius: 6px;
}

main.main-container .paginator a {
  text-decoration: none;
  color: white;
}

main.main-container .paginator li {
  list-style: none;
  border: 1px solid white;
  padding: 8px;
  transition: transform 0.5s linear;
  cursor: pointer;
}

main.main-container .paginator li.border-paginator-left {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
main.main-container .paginator li.border-paginator-right {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

footer.footer-dog {
  background-color: #52002a;
  color: #fff;
  grid-area: footer-dog;
  z-index: 1;
}

/*menú*/
nav {
  position: relative;
  padding: 10px;
}
.menu {
  list-style: none;
  flex-direction: column;
  align-items: center;
}

.menu li {
  text-align: center;
  margin: 10px 0;
}

.menu li a {
  text-decoration: none;
  display: block;
}
.hamburger-icon {
  cursor: pointer;
  display: inline-block;
  width: 30px;
  background: none;
  border: none;
  margin: 12px;
}
.hamburger {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: all 0.3s ease;
}

.close-icon {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 16px;
  left: 16px;
}

.close-line {
  background-color: black;
  height: 2px;
  width: 100%;
  margin: -1px 0;
}

.close-line:first-child {
  transform: rotate(45deg);
}

.close-line:last-child {
  transform: rotate(-45deg);
}

.footer-dog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer.footer-dog .rrss {
  padding-top: 12px;
}
footer p {
  text-align: center;
}

@media screen and (max-width: 575px) {
  .container-menu .menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    min-width: 250px;
    height: 100vh;
    min-height: 100vh;
    background: #fff;
    z-index: 1;
    margin: 0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .container-menu .menu.closed {
    display: none;
  }
  .close-icon {
    display: flex;
  }
}

@media screen and (min-width: 576px) {
  .menu {
    display: flex;
    flex-direction: column;
  }
  .hamburger-icon {
    display: none;
  }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .main-container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:
      "menu menu"
      "form main-container"
      "footer-dog footer-dog ";
  }
  header.container-menu {
    grid-area: menu;
    display: flex;
    height: auto;
    flex-direction: row;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
  }
  header.container-menu ul {
    flex-direction: row;
  }

  header.container-menu ul li {
    padding: 0 12px;
  }
  main.main-container .product-container .column {
    width: 50%;
    min-width: 50%;
  }
  nav.form {
    display: flex;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    height: 100vh;
  }
}

@media screen and (min-width: 992px) {
  .main-container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:
      "menu form"
      "menu main-container"
      "footer-dog main-container";
  }
  header.container-menu {
    position: sticky;
    top: 0;
    height: 100vh;
    max-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }

  header.container-menu ul {
    padding: 0;
  }

  main.main-container .product-container .column {
    width: 25%;
    min-width: 25%;
  }
}

@keyframes featured-carousel {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-25%);
  }
  20% {
    transform: translateX(-25%);
  }
  30% {
    transform: translateX(-50%);
  }
  40% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(-75%);
  }
  60% {
    transform: translateX(-75%);
  }
  70% {
    transform: translateX(-100%);
  }
  80% {
    transform: translateX(-100%);
  }
  90% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}
